.bg {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f7/Stop_the_light_by_Mato_Rachela.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.html, body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

/* Bottom right text */

.content {
  position: absolute;
  border: 10px solid white;
  text-align: center;
  top: 175px;
  width: 600px;
  padding: 0;
  margin: 0 auto;
  color: white;
  font-size: 80px;
  left: 200px;
  right: 200px;
}

#main {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: px;
  height: 800px;
  overflow:inherit;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.polaroid {
  width: 80%;
  background-color: white;
  padding: 30px;
  color: dimgray;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.polaroid:hover {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 14px;
  color: dimgray;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.polaroid1 {
  width: 80%;
  background-color: white;
  padding: 14px;
  color: dimgray;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.polaroid1:hover {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 14px;
  color: dimgray;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.polaroid2 {
  width: 80%;
  background-color: white;
  padding: 14px;
  color: dimgray;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.polaroid2:hover {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 14px;
  color: dimgray;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.poemtitles {
  color: orangered;
  text-align: left;
}

.p {
  text-align: left;
}