.bg {
    background-image: url("https://images.unsplash.com/photo-1503435980610-a51f3ddfee50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
        background-repeat:no-repeat;
       background-size:cover;
    background-attachment: fixed;
  background-position: center;
  background-size: cover;
     height: 800px;
    width: 100%;
  margin: 0;
    padding:0;
}
.html, body { margin: 0; padding: 0; } 
.container {
  position: relative;
}
.body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
width: 1366px;
    height: auto;
}
/* Bottom right text */
.content {
  position: absolute;
 border: 10px solid white;
    text-align: center;
    top: 175px;
    width: 600px;
    padding: 0;
    margin: 0 auto;
    color: white;
    font-weight: 100;
    font-stretch: expanded;
    font-size: 80px;
    left: 200px;
    right:200px;
}
#main {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 600px;
  height: 800px;
  overflow:inherit;
}
.photo {
    background-image: url("https://images.unsplash.com/photo-1503435980610-a51f3ddfee50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-repeat:no-repeat;
       background-size:cover;
    background-attachment: fixed;
  background-position: center;
  background-size: cover;
     height: 200px;
    width: 100%;
  margin: 0 auto;
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.p{
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 2px;
    color: slategray;
    line-height: 48px;
    text-align: center;
     width: 100%;
     margin: 0 auto;
     padding: 0;
    text-decoration: none;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
